$primary: #0d0d0d;
$white: #ffffff;
$secondary-2: rgba(0, 0, 0, 0.87);
$secondary-3: rgba(0, 0, 0, 0.64);
$secondary-4: rgba(0, 0, 0, 0.54);
$secondary-5: rgba(13, 13, 13, 0.05);
$secondary-6: rgba(13, 13, 13, 0.1);

$blue-9EC: #9ecaff;
$blue-268: #268aff;
$blue-E2F: #e2f5f1;
$blue-E9F: #e9f3ff;
$blue-EEF: #eefcf9;

$purple-E8D: #e8d9fa;
$purple-BB8: #bb8ef1;
$purple-AD7: #ad78ed;
$purple-723: #7236b9;
$purple-F4E: #f4ecfd;

$orange-FFF: #fff3e1;
// $orange-FFE: #FFE2B8;

$green-189: #189578;
$green-9EF: #9effe9;
$green-40B: #40b69b;
$green-E3F: #e3fff9;
$green-CCF: #ccffe0;
$green-009: #00993b;

$grey-F0F: #f0f0f0;
$grey-E6E: #e6e6e6;
$grey-E7E: #e7e7e7;
$grey-E5E: #e5e5e5;
$grey-F8F: #f8f8f8;
$grey-EAE: #eaeaea;
$grey-6E6: #6e6e6e;
$grey-FAF: #fafafa;

$red-B00: #b00020;
$red-FF3: #ff3b53;
$red-FFC: #ffccd5;

$yellow-FCF: #fcf0cf;
$yellow-C09: #c0900c;

$mobile-breakpoint: 767px;
$tab-breakpoint: 1200px;

// KORRECT
$primary-brand: #007c89;
$primary-brand__light: #e5f1f0;

$secondary-brand: #fbeeca;

$primary-text: #000000de;
$black-06: #00000099;
$secondary-text: #b2b2b2;
$light-gray: #f6f8f9;
$gray-f2: #f2f2f2;
$gray-82: #828282;
$gray-e4: #e4e4e4;
$grey-E5: #E5E9EB;


// Feedback
$blue-124:rgba(0, 124, 137, 0.1);
$grey-D0D: #D0D5DD;
$grey-667:#667085;
$grey-5C5:#5c5c5c;
$green-D7F: #D7FFE3;
$green-005: #005B1B;
$yellow-251:rgba(251, 238, 202, 0.5);
