.boardname-row {
	margin-bottom: 2rem;
	p {
		@include font($primary-text, "Inter-Semibold", 2rem, 600, 32px);
	}
	.custom-select-container .custom-select__control {
		border-radius: 18px !important;
		.custom-select__single-value  {
			@include font($primary-brand, "Inter-Semibold", 1.4rem, 600, 3.2rem);
		}
		.custom-select__indicator {
			color: $primary-brand;
		}
	}
}
.settings-left-child {
	padding-bottom: 4rem;
	.title {
		@include font($primary-text, "Inter-Regular", 1.8rem, 400, 16px);
		margin-bottom: 2rem;
	}

	.help-headline {
		font-size: 1.2rem;
		padding: 1.2rem;
		box-sizing: border-box;
		background: rgba(251, 238, 202, 0.5);
		border: 1px solid rgba(251, 238, 202, 0.5);
		border-radius: 6px;
		color: black;
		margin-bottom: 2rem;

	}
	form {
		.form-group {
			margin-bottom: 3.2rem;
			.input-wrapper {
				input {
					border-color: $black-06;
				}
			}
		}
		.control-label {
			font-size: 1.4rem;
		}
		.help-block {
			font-size: 1.2rem;
			white-space: pre-wrap;
		}
	}
}
.access-control-wrapper {
	.radio-box-container {
		display: flex;
		flex-direction: row;
		align-items: center;
		flex-wrap: wrap;
		gap: 12px;
		.radio-box {
			cursor: pointer;
			box-sizing: border-box;
			display: flex;
			flex-direction: row;
			align-items: flex-start;
			padding: 16px;
			background: #FFFFFF;
			border: 1px solid #EAECF0;
			border-radius: 8px;
			flex: 1;
			order: 0;
			align-self: stretch;
			height: 8.2rem;
			margin-bottom: 1.2rem;
			color: #667085;

			.radio-box-content {
				margin-left: 1.8rem;
				display: flex;
				align-items: start;
				flex-direction: column;
			}
		}
		.selected {
			background: #FFFFFF;
			border: 1px solid #007C89;
			color: #007C89;
		}
	}
	.btn-primary{
		margin-top: 1.2rem;
	}
}
.delete-board-wrapper {
	.delete-board {
		background-color: #CE5347;
    	border: solid 1px #CE5347;
	}
	h4 {
		@include font($primary-text, "Inter-Regular",1.6rem, 400, 3.2rem);
		margin-bottom: .8rem;
		margin-top: .4rem;
	}
}
.tags-wrapper {
	.tag-content {
		display: flex;
		justify-content: space-between;
		margin-bottom: 1rem;
		@include font($primary-text, "Inter-Medium", 1.4rem, 500, 2.2rem);
		p {
			display: flex;
			align-items: center;
		}
		.tag-name {
			background: rgba(251, 238, 202, 0.5);
    		border-radius: 16px;
    		padding: 2px 10px;
			// margin-bottom: 1rem;
		}
		.icon-div{
			display: flex;
			align-items: center;
			.icon{
				display: flex;
				align-items: center;
				cursor: pointer;
				margin-left: 1.6rem;
				padding: 5px;
				&:hover {
					background: #0000000a;
					border-radius: 50%;
				}
			}
		  }
	}
	.btn {
		margin-top: 2.2rem;
	}
}
.settings-modal {
	.modal-content {
		padding: 1rem;
		border-radius: 12px;
	}
	.modal-body-wrapper {
		width: 40rem;
		.modal-icon-container {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 4.8rem;
			height: 4.8rem;
			background: #FBEECA;
			border: .8rem solid #FFF9E8;
			border-radius: 2.8rem;
			margin-bottom: 2rem;
			.icon {
				width: 2rem;
			}
		}
		
		.modal-title {
			@include font(#101828, "Inter-Regular", 1.8rem, 500, 28px);
		}
		.modal-subtitle {
			@include font(#667085, "Inter-Regular", 1.4rem, 400, 20px);
			margin-top: .8rem;
		}
		form {
			margin-top: 2rem;
		}
		label {
			@include font(#667085, "Inter-Regular", 1.4rem, 400, 20px);
		}
		.button-wrapper {
			display: flex;
			margin-top: 3.2rem;
			justify-content: space-evenly;
			.btn-secondary {
				margin-right: 1rem;	
			}
			.btn {
				flex: 1;
			}
		}
	}
	.delete-board {
		.modal-icon-container {
			background: #F5C3BE;
			border: 0.8rem solid #F4D5D2;
		}
		.btn-primary {
			background-color: #CE5347;
    		border: solid 1px #CE5347;
		}
	}
}
.access-user-container {
	@include font($primary-text, "Inter-Regular", 1.4rem, 500, 2rem);
	.heading {
		@include font($primary-text, "Inter-Regular", 1.6rem, 600, 3.2rem);
	}
	.subtitle {
		@include font($primary-text, "Inter-Regular", 1.2rem, 400, 1.8rem);
	}
	.user-invite-container {
		display: flex;
		flex-direction: column;
		gap: .8rem;
		form {
			display: flex;
			flex-direction: column;
			gap: 1.2rem;
			.form-group {
				margin-bottom: 0rem;
			}
		}
		.btn-primary {
			margin-top: 0rem;
		}
		.invite-actions {
			display: flex;
			justify-content: end;
			gap: 1.2rem;
			.user-role {
				min-width: 14rem
			}
		}
	}
	.sub-heading {
		margin-top: 1.4rem;
		@include font($primary-text, "Inter-Regular", 1.4rem, 600, 2.8rem);
	}
	.access-user-wrapper {
		padding: .8rem 0rem;
		.user-details-container {
			display: flex;
			gap: 0.8rem;
			align-items: center
		}
		form {
			.form-group {
				margin-bottom: 0rem;
			}
		}
		.btn-primary {
			margin-top: 0rem;
		}
		.negative {
			background-color: #CE5347;
			border: 1px solid #CE5347;
		}
		.delete-user {
			display: flex;
			padding: .6rem;
			width: fit-content;
			align-items: center;
			height: fit-content;
			&:hover {
				background: #0000000a;
				border-radius: 50%;
			}
		}
	}
}

.integration{
	.integration-wrapper{
		display: flex;
		 justify-content: space-between; 
		 align-items: center;
		 margin-bottom: 2rem;
	}

	h4{
		    margin-bottom: 1rem !important;
	}

	p{
		    color: #00000099;
	}

	.integration-card{
		display: flex;
            justify-content: space-between;
                    align-items: center;
            padding: 2rem 0;
    border-bottom: 1px solid $gray-e4;

	.card-left{
		display: flex;
              justify-content: start;
              align-items: center;
	}
	}

	.btn-delete {
			background-color: #fff2f1;
    		border: solid 1px #eb6f64;
			line-height: 0;
		}
}